model_output
resources/outputs/evaluate_on_dataset
resources/DUMPS/backup
saved_model/pytorch_model.bin
saved_model_adam
saved_model_adaf_2000
saved_model_adaf_6000
saved_model_adaf_10000
saved_model_adam_2000
saved_model_adam_6000
saved_model_adam_10000

source/__pycache__
trial
wandb

