wandb
transformers 
torch
optuna
sklearn
# statsmodels
# TUPA
#  torchtext 
nltk
wordnet
numpy
evaluate
cuda-python 
datasets 
pynvml 
sentencepiece
# accelerate 
# bitsandbytes
pandas
numpy
# glob2
utils
pathlib
sacrebleu
jiwer
# unbabel-comet
sacremoses
spacy
python_Levenshtein # ==0.12.0
# seaborn
# gensim
git+https://github.com/feralvam/easse.git
easse

# huggingface_hub nltk rouge-score
# dutch-word-embeddings@git+https://github.com:coosto/dutch-word-embeddings.git
# dutch-word-embeddings
# working version
# https://github.com/coosto/dutch-word-embeddings/releases/download/v1.0/model.bin

compound-split