wandb
transformers 
torch 
numpy
evaluate
cuda-python 
datasets 
pynvml 
sentencepiece
accelerate 
bitsandbytes
#  torchtext 
# evaluate
# huggingface_hub nltk rouge-score
# sacremoses sacrebleu

#optuna ray
# easse@git+https://github.com/feralvam/easse.git@8df369f025a7c927425482e802fb546fd5d06d84
# easse

# easse@git+git://github.com/feralvam/easse.git@580bba7e1378fc8289c663f864e0487188fe8067

# !git clone http://github.com/feralvam/easse.git 
# import os
# os.getcwd()
# os.chdir("easse")
# os.getcwd()
# !pip install .